.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #e27d60;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid black;
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: #9fe2bf;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #9fe2bf;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #41b3a3;
  color: #c3073f;
  border-radius: 4px;
  border: 3px solid black;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: #190061;
  background-color: #9fe2bf;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #e8a87c;
  color: #c3073f;
  border-color: black;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #c6aeae;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #41b3a3;
}
